.buttonWrapper {
  text-align: center;
}

.button {
  display: inline-block;
  padding: 15px 55px;
  color: #aaa;
  font-size: 1.6rem;
  font-weight: bold;
  letter-spacing: 1px;
  border: 2px solid #bbb;
  transition: .3s;

  &:hover {
    color: #aaa;
    animation: light 1.2s infinite;
  }
}

@keyframes light {
  0% {
    outline: 2px solid;
    outline-color: #bbb;
    outline-offset: 0px;
  }
  100% { 
    outline: 2px solid;
    outline-color: transparent;
    outline-offset: 12px;
  }
}