.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #444;
  height: 8vh;

  h2 {
    color: #fff;
    font-size: 2rem;
    letter-spacing: 1px;
  }
}
