.linkList {
  position: absolute;
  top: 50%;
  right: 12vw;
  transform: translateY(-50%);
  display: flex;
  gap: 20px;
  list-style: none;
}

.listItem {
  font-size: clamp(1.2rem, 1.7vw, 1.8rem);
  font-weight: 900;
}

@media (max-width: 768px) {
  .header {
    justify-content: left;
  }

  .headerTitle {
    margin-left: 8vw;
  }

  .linkList {
    right: 15vw;
    gap: 10px;
  }
}
