.header {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-color);
  height: 8vh;
  width: 100%;
  box-shadow: 0 0 6px 1px var(--shadow-color);
  z-index: 9999;
}

.headerTitle {
  font-size: clamp(1.6rem, 4vw, 2.2rem);
}

.linkList {
  position: absolute;
  top: 50%;
  right: 12vw;
  transform: translateY(-50%);
  display: flex;
  gap: 20px;
  list-style: none;
}

.listItem {
  font-size: clamp(1.2rem, 1.7vw, 1.8rem);
  font-weight: 900;
}

@media (max-width: 768px) {
  .header {
    justify-content: left;
  }

  .headerTitle {
    margin-left: 8vw;
  }

  .linkList {
    right: 15vw;
    gap: 10px;
  }
}
