.pageTitle {
  margin: 0;
  font-size: clamp(2rem, 2.5vw, 3rem);
  text-align: center;
}

.count {
  margin-top: 20px;
  font-size: clamp(1.8rem, 2.2vw, 2.5rem);
  text-align: center;
  font-weight: 900;
}