.post {
  padding: unquote("min(6vw, 40px)") 0 50px;
  margin: 0 auto;
  width: unquote("max(300px, 80%)");
}

.icon {
  font-size: clamp(4rem, 5vw, 7rem);
  text-align: center;
}

.postTitle {
  font-size: clamp(2.5rem, 4vw, 4rem);
  line-height: 1.5;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-weight: 900;
  letter-spacing: 1px;

  svg {
    margin-right: 8px;
    width: 3rem;
  }
}

.date,
.languages,
.tag {
  font-size: clamp(1.5rem, 2vw, 2rem);
}

.date {
  margin-right: 30px;
}

.languages {
  display: flex;
  list-style: none;

  li {
    margin-right: 12px;
  }
}

.tagList {
  display: flex;
  margin: 0;
  list-style: none;
}

.tag {
  margin-right: 20px;
}

.main {
  margin-top: 60px;
  margin-top: unquote("min(12vw, 60px)");

  h1 {
    border-bottom: 5px solid var(--main-color);
    font-size: clamp(2.5rem, 4vw, 4rem);
    line-height: 1.4;
  }

  h2 {
    margin: 55px 0 25px;
    padding-left: 12px;
    border-left: 8px solid var(--main-color);
    font-size: clamp(2.2rem, 3.7vw, 3.5rem);
    line-height: 1.4;
  }

  p {
    margin-bottom: 20px;
    font-size: clamp(1.5rem, 2vw, 1.8rem);
    letter-spacing: 1px;
    line-height: 1.5;
    text-indent: 0.8rem;

    code {
      margin: 0 3px;
      padding: 1px 5px;
      background-color: #bbb;
      border-radius: 2px;
      color: #444;
      font-family: inherit;
    }
  }

  .imgWrapper {
    margin: 40px 0;
    max-width: 85%;
    z-index: 1;
  }

  table {
    margin: 30px 0 20px;
    font-size: 1.75rem;
    border-collapse: collapse;
    th,
    td {
      padding: 10px 20px;
      border: 1px solid #888;
    }
    th {
      background-color: var(--main-color);
      color: #fff;
    }
  }

  pre {
    font-size: clamp(1.5rem, 2vw, 1.7rem);
  }

  strong {
    color: var(--main-color);
  }
}
