.postList {
  width: unquote("max(314px, 80%)");
  margin: 0 auto;
  padding: unquote("min(3.5vw, 20px)") 0 0;
}

.listItem {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  padding: 15px unquote("min(3.5vw, 30px)");
  border: 2px solid var(--border-color);
  border-radius: 4px;
}

.mainIcon {
  margin-right: unquote("min(5vw, 3rem)");
  font-size: clamp(3rem, 3vw, 5rem);
  text-align: center;
  flex-shrink: 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: unquote("min(2.8vw, 15px)");
}

.postTitle {
  color: var(--text-color);
  font-size: clamp(1.65rem, 2vw, 2.5rem);
  line-height: 1.5;
  font-weight: bold;

  &:hover {
    color: var(--main-color);
  }
}

.icon {
  width: 3rem;
  margin-right: 8px;
  font-size: clamp(1.4rem, 1.8vw, 1.75rem);
}

.dateWrapper {
  font-size: clamp(1.3rem, 1.9vw, 1.6rem);
  font-weight: 900;
}

.date {
  margin-right: 20px;
}

.languages {
  display: flex;
  font-size: clamp(1.3rem, 1.8vw, 1.65rem);
  font-weight: 900;
  list-style: none;

  li {
    margin-right: 12px;
  }
}

.tagList {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
}

.tag {
  margin-right: 20px;
  font-size: clamp(1.3rem, 1.8vw, 1.65rem);
  font-weight: 900;
}
