.mainIcon {
  margin-right: unquote("min(5vw, 3rem)");
  font-size: clamp(3rem, 3vw, 5rem);
  text-align: center;
  flex-shrink: 0;
  width: min(9vw, 6.7rem);
  text-align: center;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: unquote("min(2.8vw, 15px)");
}

.icon {
  width: min(5.2vw, 3rem);
  margin-right: min(0.7vw, 8px);
  font-size: clamp(1.4rem, 1.8vw, 1.75rem);
}

.dateWrapper {
  font-size: clamp(1.3rem, 1.9vw, 1.6rem);
  font-weight: 900;
}

.tagList {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
}

.tag {
  margin-right: 20px;
  font-size: clamp(1.3rem, 1.8vw, 1.65rem);
  font-weight: 900;
}
