.button {
  position: absolute;
  top: 50%;
  right: 8vw;
  transform: translateY(-50%);

  svg {
    font-size: clamp(2.5rem, 3vw, 3.5rem);
  }
}

.sun {
  color: orange;
}

.moon {
  color: yellow;
}

@media (max-width: 768px) {
  .button {
    right: 4vw;
  } 
}