@import "./reset.scss";

:root {
  --main-color: blue;
}

html {
  color: #444;
  font-size: 62.5%;
  font-family:
    YuGothic,
    "Yu Gothic Medium",
    "Yu Gothic",
    Verdana,
    Meiryo,
    sans-serif;
  scroll-behavior: smooth;
}

a {
  color: #444;
  transition: 0.3s;

  &:hover {
    color: var(--main-color);
  }
}
