@import "./reset.scss";

:root {
  --main-color: rgb(22, 117, 204);
}

html {
  font-size: 62.5%;
  font-family:
    YuGothic,
    "Yu Gothic Medium",
    "Yu Gothic",
    Verdana,
    Meiryo,
    sans-serif;
  scroll-behavior: smooth;
}

a {
  color: var(--text-color);
  transition: 0.3s;

  &:hover {
    color: var(--main-color);
  }
}

body {
  --bg-color: #fff;
  --text-color: #444;
  --shadow-color: #ddd;
  --border-color: #ddd;

  background-color: var(--bg-color);
  color: var(--text-color);
}

body[data-theme="dark"] {
  --bg-color: #161b22;
  --text-color: #c9d1d9;
  --shadow-color: #666;
  --border-color: #777;
}
